.dashboard-14,
.dashboard-14 * {
  box-sizing: border-box;
}
.dashboard-14 {
  background: #ffffff;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.rectangle-118 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 314px;
  height: 1019px;
  position: absolute;
  left: -9px;
  top: -10px;
}
.rectangle-2 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 1295px;
  height: 82px;
  position: absolute;
  left: 305px;
  top: 0px;
}
.rectangle-1 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 243px;
  height: 42px;
  position: absolute;
  left: 23px;
  top: 135px;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 256px;
  height: 42px;
  position: absolute;
  left: 355px;
  top: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 345px;
  height: 59px;
  position: absolute;
  left: 355px;
  top: 135px;
}
.down-arrow-2 {
  width: 23.53px;
  height: 23.8px;
  position: absolute;
  left: 649.52px;
  top: 155px;
  transform-origin: 0 0;
  transform: rotate(1.254deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 1215px;
  height: 221px;
  position: absolute;
  left: 355px;
  top: 326px;
}
.rectangle-21 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 591px;
  height: 356px;
  position: absolute;
  left: 355px;
  top: 571px;
}
.rectangle-22 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 600px;
  height: 358px;
  position: absolute;
  left: 970px;
  top: 569px;
}
.rectangle-16 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 1161px;
  height: 130px;
  position: absolute;
  left: 382px;
  top: 385px;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 850px;
  height: 59px;
  position: absolute;
  left: 725px;
  top: 135px;
}
.rectangle-3 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 83px;
  height: 42px;
  position: absolute;
  left: 1492px;
  top: 20px;
}
.rectangle-6 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 83px;
  height: 42px;
  position: absolute;
  left: 629px;
  top: 20px;
}
.smart-serve-360 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 50px;
  width: 223px;
  height: 50px;
}
.dashboard {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 146px;
  width: 109px;
  height: 20px;
}
.chipotle-mobile-application {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 155px;
  width: 259px;
  height: 20px;
}
.real-time-data-analytics-overview {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 382px;
  top: 343px;
  width: 371px;
  height: 20px;
}
.order-trends {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 378px;
  top: 592px;
  width: 371px;
  height: 20px;
}
.dynamic-staffing-solutions {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 995px;
  top: 585px;
  width: 371px;
  height: 20px;
}
.business-operations {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 35px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 225px;
  width: 407px;
  height: 20px;
}
.filter-by {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 742px;
  top: 155px;
  width: 94px;
  height: 20px;
}
.logout {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 1510px;
  top: 31px;
  width: 60px;
  height: 20px;
}
.create {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 646px;
  top: 30px;
  width: 60px;
  height: 20px;
}
.welcome-back-customer-name {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 1075px;
  top: 33px;
  width: 264px;
  height: 20px;
}
.search {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 381px;
  top: 30px;
  width: 60px;
  height: 20px;
}
.rectangle-14 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 130px;
  height: 31px;
  position: absolute;
  left: 355px;
  top: 267px;
}
.export-to-csv {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 374px;
  top: 273px;
  width: 103px;
  height: 20px;
}
.rectangle-17 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 79px;
  height: 31px;
  position: absolute;
  left: 646px;
  top: 408px;
}
.rectangle-23 {
  border-radius: 0px;
  width: 95px;
  height: 31px;
  position: absolute;
  left: 820px;
  top: 592px;
  overflow: visible;
}
._28-7 {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 663px;
  top: 413px;
  width: 60px;
  height: 20px;
}
.rectangle-31 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 79px;
  height: 31px;
  position: absolute;
  left: 1056px;
  top: 413px;
}
._28-72 {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 1073px;
  top: 418px;
  width: 60px;
  height: 20px;
}
.rectangle-30 {
  background: #cc0700;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5px;
  width: 79px;
  height: 31px;
  position: absolute;
  left: 1430px;
  top: 408px;
}
._28-73 {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 1447px;
  top: 413px;
  width: 60px;
  height: 20px;
}
.daily {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 828px;
  top: 597px;
  width: 60px;
  height: 20px;
}
.rectangle-24 {
  border-radius: 0px;
  width: 95px;
  height: 31px;
  position: absolute;
  left: 1460px;
  top: 585px;
  overflow: visible;
}
.daily2 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1468px;
  top: 590px;
  width: 60px;
  height: 20px;
}
.total-orders {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 477px;
  top: 408px;
  width: 103px;
  height: 20px;
}
._489-k {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
  opacity: 0.8899999856948853;
  position: absolute;
  left: 477px;
  top: 444px;
  width: 103px;
  height: 20px;
}
.business-operations2 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 75px;
  top: 210px;
  width: 161px;
  height: 23px;
}
.operational-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 238px;
  width: 161px;
  height: 23px;
}
.staffing-optimization {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 266px;
  width: 161px;
  height: 23px;
}
.customer-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 325px;
  width: 161px;
  height: 23px;
}
.flavor-customization-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 356px;
  width: 222px;
  height: 23px;
}
.recommendation-effectiveness {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 384px;
  width: 222px;
  height: 23px;
}
.customer-feedback-hub {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 412px;
  width: 161px;
  height: 23px;
}
.loyalty-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 442px;
  width: 161px;
  height: 23px;
}
.trend-adoption {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 472px;
  width: 161px;
  height: 23px;
}
.menu-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 532px;
  width: 161px;
  height: 23px;
}
.flavor-intelligence {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 562px;
  width: 161px;
  height: 23px;
}
.dynamic-menu-trends {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 592px;
  width: 161px;
  height: 23px;
}
.customization {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 622px;
  width: 161px;
  height: 23px;
}
.digital-engagement {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 652px;
  width: 161px;
  height: 23px;
}
.healthy-dining-insights {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 680px;
  width: 161px;
  height: 23px;
}
.sustainability-tracker {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 738px;
  width: 161px;
  height: 23px;
}
.social-impact {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 708px;
  width: 161px;
  height: 23px;
}
.rectangle-8 {
  background: #d3d3d3;
  width: 82px;
  height: 27px;
  position: absolute;
  left: 842px;
  top: 153px;
}
.default {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 848px;
  top: 157px;
  width: 70px;
  height: 20px;
}
.rectangle-29 {
  background: #d3d3d3;
  width: 82px;
  height: 27px;
  position: absolute;
  left: 842px;
  top: 153px;
}
.rectangle-13 {
  background: #ededed;
  width: 141px;
  height: 27px;
  position: absolute;
  left: 1411px;
  top: 152px;
}
.save-perameters {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1430px;
  top: 155px;
  width: 113px;
  height: 20px;
}
.add-filter {
  color: #00c2ff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1177px;
  top: 157px;
  width: 109px;
  height: 20px;
}
.rectangle-9 {
  background: #ededed;
  width: 37px;
  height: 27px;
  position: absolute;
  left: 930px;
  top: 153px;
}
._7-d {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 936px;
  top: 157px;
  width: 31px;
  height: 20px;
}
.rectangle-10 {
  background: #ededed;
  width: 49px;
  height: 27px;
  position: absolute;
  left: 970px;
  top: 153px;
}
._30-d {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 976px;
  top: 157px;
  width: 46px;
  height: 20px;
}
.rectangle-12 {
  background: #ededed;
  width: 49px;
  height: 27px;
  position: absolute;
  left: 1075px;
  top: 153px;
}
._90-d {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1079px;
  top: 157px;
  width: 46px;
  height: 20px;
}
.rectangle-11 {
  background: #ededed;
  width: 49px;
  height: 27px;
  position: absolute;
  left: 1022px;
  top: 153px;
}
._60-d {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1026px;
  top: 157px;
  width: 46px;
  height: 20px;
}
.fulfillment-efficiency {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 902px;
  top: 413px;
  width: 155px;
  height: 20px;
}
._90 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
  opacity: 0.8899999856948853;
  position: absolute;
  left: 902px;
  top: 449px;
  width: 103px;
  height: 20px;
}
.ellipse-2 {
  background: #edc5cf;
  border-radius: 50%;
  width: 43px;
  height: 42px;
  position: absolute;
  left: 836px;
  top: 417px;
}
.ellipse-20 {
  background: #edc5cf;
  border-radius: 50%;
  width: 43px;
  height: 42px;
  position: absolute;
  left: 419px;
  top: 418px;
}
.another-kpi {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1256px;
  top: 416px;
  width: 155px;
  height: 20px;
}
.hours {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1268px;
  top: 879px;
  width: 127px;
  height: 20px;
}
._902 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
  opacity: 0.8899999856948853;
  position: absolute;
  left: 1256px;
  top: 452px;
  width: 103px;
  height: 20px;
}
.ellipse-3 {
  background: #edc5cf;
  border-radius: 50%;
  width: 43px;
  height: 42px;
  position: absolute;
  left: 1190px;
  top: 420px;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019px;
  top: 660px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019px;
  top: 687px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019px;
  top: 714px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-8 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019px;
  top: 742px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-9 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019.96px;
  top: 770px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-10 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019.96px;
  top: 797px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-11 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019.96px;
  top: 824px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-12 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 1019.96px;
  top: 852px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.rectangle {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 33.12%;
  left: 66.06%;
  width: 0.81%;
  bottom: 14.9%;
  top: 69.7%;
  height: 15.4%;
}
.rectangle2 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 31.5%;
  left: 67.69%;
  width: 0.81%;
  bottom: 14.9%;
  top: 69.7%;
  height: 15.4%;
}
.rectangle3 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 29.94%;
  left: 69.25%;
  width: 0.81%;
  bottom: 14.9%;
  top: 73.3%;
  height: 11.8%;
}
.rectangle4 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 28.31%;
  left: 70.88%;
  width: 0.81%;
  bottom: 14.9%;
  top: 69.7%;
  height: 15.4%;
}
.rectangle5 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 26.69%;
  left: 72.5%;
  width: 0.81%;
  bottom: 14.9%;
  top: 69.7%;
  height: 15.4%;
}
.rectangle6 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 24.62%;
  left: 74.56%;
  width: 0.81%;
  bottom: 15%;
  top: 68.5%;
  height: 16.5%;
}
.rectangle7 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 22.69%;
  left: 76.5%;
  width: 0.81%;
  bottom: 14.9%;
  top: 69.7%;
  height: 15.4%;
}
.rectangle8 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 20.94%;
  left: 78.25%;
  width: 0.81%;
  bottom: 14.9%;
  top: 73.3%;
  height: 11.8%;
}
.rectangle9 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 19.12%;
  left: 80.06%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle10 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 17.5%;
  left: 81.69%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle11 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 15.94%;
  left: 83.25%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle12 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 14.31%;
  left: 84.88%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle13 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 12.69%;
  left: 86.5%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle14 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 10.62%;
  left: 88.56%;
  width: 0.81%;
  bottom: 15.1%;
  top: 69.5%;
  height: 15.4%;
}
.hours2 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 623px;
  top: 877px;
  width: 51px;
  height: 20px;
}
.order-volume-order-fulfillment {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 369.31px;
  top: 870.24px;
  width: 247px;
  height: 20px;
  transform-origin: 0 0;
  transform: rotate(-90.595deg) scale(1, 1);
}
.staffing-levels-predicted-vs-actual-orders {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 985.79px;
  top: 899.95px;
  width: 268.76px;
  height: 20px;
  transform-origin: 0 0;
  transform: rotate(-90.595deg) scale(1, 1);
}
.line-13 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399px;
  top: 662px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-14 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399px;
  top: 689px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-15 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399px;
  top: 716px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-16 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399px;
  top: 744px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-17 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399.96px;
  top: 772px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-18 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399.96px;
  top: 799px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-19 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399.96px;
  top: 826px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.line-20 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 524.05px;
  height: 0px;
  position: absolute;
  left: 399.96px;
  top: 854px;
  transform-origin: 0 0;
  transform: rotate(-0.2deg) scale(1, 1);
}
.rectangle15 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 8.69%;
  left: 90.5%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.rectangle16 {
  background: var(--colors-action-warning, #ffb200);
  border-radius: 10px;
  position: absolute;
  right: 6.94%;
  left: 92.25%;
  width: 0.81%;
  bottom: 15%;
  top: 69.6%;
  height: 15.4%;
}
.group {
  height: auto;
  position: absolute;
  right: 49.38%;
  left: 30.25%;
  width: 20.38%;
  bottom: 15.05%;
  top: 70.7%;
  height: 14.25%;
  overflow: visible;
}
.ellipse-14 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 36px;
  top: 146px;
}
.rectangle-25 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 243px;
  height: 42px;
  position: absolute;
  left: 23px;
  top: 776px;
}
.sustainability-management {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 787px;
  width: 205px;
  height: 20px;
}
.ellipse-15 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 36px;
  top: 787px;
}
.rectangle-28 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 243px;
  height: 42px;
  position: absolute;
  left: 23px;
  top: 927px;
}
.personalization-management {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 938px;
  width: 205px;
  height: 20px;
}
.ellipse-18 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 36px;
  top: 938px;
}
.rectangle-27 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 243px;
  height: 42px;
  position: absolute;
  left: 23px;
  top: 877px;
}
.loyalty-management {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 888px;
  width: 205px;
  height: 20px;
}
.ellipse-17 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 36px;
  top: 888px;
}
.rectangle-26 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 243px;
  height: 42px;
  position: absolute;
  left: 23px;
  top: 826px;
}
.menu-management {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 837px;
  width: 205px;
  height: 20px;
}
.ellipse-16 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 36px;
  top: 837px;
}
.line-113 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 187px;
  height: 0px;
  position: absolute;
  left: 49px;
  top: 567px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-115 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 127px;
  height: 0px;
  position: absolute;
  left: 52px;
  top: 360px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-116 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 45px;
  height: 0px;
  position: absolute;
  left: 52px;
  top: 241px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  position: absolute;
  left: 36px;
  top: 202px;
}
.ellipse-19 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  position: absolute;
  left: 27px;
  top: 45px;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  position: absolute;
  left: 36px;
  top: 318px;
}
.ellipse-6 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  position: absolute;
  left: 33px;
  top: 522px;
}
.user-4-1 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1325px;
  top: 31px;
  object-fit: cover;
}
.bell-1-1 {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 1430px;
  top: 33px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.gear-1 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1472px;
  top: 31px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.down-arrow-1 {
  width: 23.53px;
  height: 23.8px;
  position: absolute;
  left: 248px;
  top: 167.79px;
  transform-origin: 0 0;
  transform: rotate(178.857deg) scale(1, 1);
  object-fit: cover;
}
.down-arrow-6 {
  width: 23.53px;
  height: 23.8px;
  position: absolute;
  left: 883px;
  top: 596.66px;
  transform-origin: 0 0;
  transform: rotate(-1.613deg) scale(1, 1);
  object-fit: cover;
}
.down-arrow-7 {
  width: 23.53px;
  height: 23.8px;
  position: absolute;
  left: 1520px;
  top: 588.66px;
  transform-origin: 0 0;
  transform: rotate(-1.613deg) scale(1, 1);
  object-fit: cover;
}
